{% extends "base.html" %}
{% block content %}

{% for book in books %}
<div class="book">
      <a href="/books/{{books.id}}">{{book.title}}</a>
      <div class="content">
    <p>{{book.author.first_name}} {{book.author.last_name}}</p>  
      </div>
    <div class="buttons">
      <form class="delete-form" 
            action="/books/{{book.id}}/delete" 
            method="POST">
        <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
      </form> 
      {% if book.available == True %} 
      <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
      {% else %}
      <i class="fa fa-times fa-2x" aria-hidden="true"></i>
      {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}