{% extends "base.html" %}
{% block content %}

<form action="/books" method="POST">
    <div>
        <label for="title"> Title: </label>
        <input id="title" name="title" type="text" required>
    </div>
    <div>
        <label for="author"> Author: </label>
        <select id="author" name="author_id">
            {% for author in authors %}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="genre"> Genre: </label>
        <input id="genre" name="genre" type="text" required>
    </div>
    <div>
        <label for="publisher"> Publisher: </label>
        <input id="publisher" name="publisher" type="text" required>
    </div>
    <div>
        <label for="available"> Is it available? </label>
        <select id="available" name="available">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <button type="submit">Submit</button>


</form>

{% endblock %}